@import '../../variables.scss';

// Buttons - Start

%sb-button-basic {
  font-weight: 400;
  font-size: 14px;
  outline: none;
  
  
  border-width: var(--border-width);
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  border-radius: var(--btn-radius);
  margin: var(--btn-margin);
  display: inline-flex;
  position: relative;
  align-items: center;
  // user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  text-transform: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: var(--btn-padding);
  min-width: 100%;
  height: var(--btn-height);
  box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
  transition: 
    background .3s var(--transition), 
    border .3s var(--transition), 
    box-shadow .3s var(--transition);
  
  &:active {
    box-shadow: inset 0 0 4px 0 rgba(0,0,0,.2);
  }
  
  &[disabled],
  &.disabled,
  &.is-disabled,
  &:hover[disabled],
  &:hover.is-disabled {
    border-color: var(--btn-border-color-disabled);
    background: var(--btn-bg-disabled);
    color: var(--btn-color-disabled);
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
    box-shadow: none;
  }
  
  @media screen and (min-width: 480px) {
    min-width: var(--btn-min-width);
  }
}

%sb-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: none;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  text-transform: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  border-radius: 0;
  height: auto;
  line-height: 1.3;
  box-shadow: none;
  width: 100%;
  
  @media screen and (min-width: 480px) {
    width: auto;
  }
  
  &[disabled],
  &.disabled,
  &.is-disabled,
  &:hover[disabled],
  &:hover.is-disabled {
    color: var(--btn-color-disabled);
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
    box-shadow: none;
  }
}

%sb-button-inline {
  @extend %sb-button-basic;
  border-color: var(--btn-bg);
  color: var(--btn-color-secondary);
  box-shadow: none;
  margin: 0 0 var(--space);
  padding: 0;
  
  @media screen and (min-width: 480px) {
    margin: 0; 
  }
  
  &:hover{
    border-color: var(--btn-border-color-secondary);
    background: var(--btn-bg-disabled);
    z-index: 1;
  }
  
  &[active],
  &.active,
  &.sb-active,
  &.is-active {
    border-color: var(--btn-bg);
    background: var(--btn-bg);
    color: var(--btn-color);
  }
  
  &.as-check {
    
    input[type="checkbox"] {
      // width: 1px;
      // height: 1px;
      // position: absolute;
      // left: -999999em;
      cursor: inherit;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
      background: #000;
      
      &:checked {
        ~ .sb-button-text {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-color: var(--btn-bg);
          background: var(--btn-bg);
          color: var(--btn-color);
          display: flex;
          align-items: center;
          justify-content: center;
        }
			}
    }
  }
  
  &.as-radio {
    
    input[type="radio"] {
      // width: 1px;
      // height: 1px;
      // position: absolute;
      // left: -999999em;
      cursor: inherit;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
      background: #000;
      
      &:checked {
        ~ .sb-button-text {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-color: var(--btn-bg);
          background: var(--btn-bg);
          color: var(--btn-color);
          display: flex;
          align-items: center;
          justify-content: center;
        }
			}
    }
  }
}

.sb-button-primary {
  @extend %sb-button-basic;
  border-color: var(--btn-bg);
  background: var(--btn-bg);
  color: var(--btn-color);
  
  &:hover{
    background: var(--btn-bg-hover);
    color: var(--btn-color);
  }
  
  &.negative {
    background: var(--btn-bg-negative);
    color: var(--btn-color-negative);
    border-color: var(--btn-bg-negative);

    &:hover{
      background: var(--btn-bg-hover-negative);
      border-color: var(--btn-bg-hover-negative);
    }
    
    &[disabled],
    &.disabled,
    &.is-disabled,
    &:hover[disabled],
    &:hover.is-disabled {
      border-color: var(--btn-border-color-disabled);
      background: var(--btn-bg-disabled);
      color: var(--btn-color-disabled);
      cursor: not-allowed;
      text-decoration: none;
      pointer-events: none;
      box-shadow: none;
    }
  }
}

.sb-button-primary-negative {
  @extend %sb-button-basic;
  background: var(--btn-bg-negative);
  color: var(--btn-color-negative);
  border-color: var(--btn-bg-negative);

  &:hover{
    background: var(--btn-bg-hover-negative);
    border-color: var(--btn-bg-hover-negative);
  }
}

.sb-button-secondary {
  @extend %sb-button-basic;
  background: var(--white);
  color: var(--btn-color-secondary);
  border-color: var(--btn-border-color);

  &:hover{
    border-color: var(--btn-border-color-secondary);
  }
  
  &[disabled],
  &.disabled,
  &.is-disabled,
  &:hover[disabled],
  &:hover.is-disabled {
    color: var(--btn-color-disabled);
    border-color: var(--btn-color-disabled);
    background: var(--white);
  }
  
  &.negative {
    background: var(--btn-bg);
    color: var(--white);
    border-color: var(--white);

    &:hover{
      border-color: var(--btn-bg-hover-negative);
      color: var(--btn-bg-hover-negative);
    }

    &[disabled],
    &.disabled,
    &.is-disabled,
    &:hover[disabled],
    &:hover.is-disabled {
      color: var(--btn-bg);
      border-color: var(--btn-bg-hover-negative);
      background: var(--btn-bg-hover-negative);
    }
  }
}

.sb-button-secondary-negative {
  @extend %sb-button-basic;
  background: var(--btn-bg);
  color: var(--white);
  border-color: var(--white);
  
  &:hover{
    border-color: var(--btn-bg-hover-negative);
    color: var(--btn-bg-hover-negative);
  }
  
  &[disabled],
  &.disabled,
  &.is-disabled,
  &:hover[disabled],
  &:hover.is-disabled {
    color: var(--btn-bg);
    border-color: var(--btn-bg-hover-negative);
    background: var(--btn-bg-hover-negative);
  }
}

.sb-button-primary,
.sb-button-secondary {
  
  .sb-icon {
    width: 30px;
    height: 30px;
    display: inline-flex;
    
    &.man {
      background: url(http://www.sclance.com/pngs/phone-icon-white-png/phone_icon_white_png_1016482.png) no-repeat center center / contain;
    }
  }
  
  &.as-icon {
    min-width: var(--btn-height);
    padding: 0;
    
    .sb-button-text {
      display: none;
    }
  }
  
  &.rounded {
    border-radius: var(--btn-height);
  }
}

.sb-link {
  @extend %sb-link;
  color: var(--link-color);
  
  + .sb-link {
   
    @media screen and (min-width: 480px) {
      border-left: 1px solid #ccc;
      padding-left: 10px;
      margin-left: 10px;
    }
  }
  
  &.with-icon {
    
    &:before {
      content: "";
      width: var(--btn-link-icon-size);
      height: var(--btn-link-icon-size);
      display: inline-block;
      margin-right: 5px;
      background: #000;
    }
    
    &.share {
      &:before {
        background: url(https://cdn4.iconfinder.com/data/icons/materia-flat-social-free/24/038_026_share_link_friends_android_material-256.png) no-repeat center center / contain;
      }
    }
  }
}

.sb-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  // margin: 0 0 var(--sapce);
  
  &__item {
    padding: 0;
    margin: 0 0 0 calc(-1*var(--border-width));
  }
  
  .sb-button-inline {
    @extend %sb-button-inline;
    flex-direction: column;
    
    @media screen and (min-width: 480px) {
      flex-direction: row;
    }
    
    &:nth-of-type(n+2) {
      margin-left: -2px;
    }
  }
  
  &.stretch {
    .sb-button-inline {
      flex: 1;
      min-width: auto;
      padding: 0;
    }
  }
}

.sb-button-custom {
  @extend %sb-button-basic;
  background: lightblue;
  border-radius: 20px 0;
  color: #fff;
  font-size: 2rem;
  
  &:hover {
    transform: scale(1.1);
  }
}

// Buttons - End
